<br />
<form>
	<table class="form-table">
		<tr>
			<td>Eesnimi:</td>
			<td><input id="name-input" ng-model="vm.firstname" type="text"></td>
		</tr>
		<tr>
			<td>Telefon:</td>
			<td><input id="phone-input" ng-model="vm.phone" type="text"></td>
		</tr>
		<tr>
			<td>
				<button id="save-link" ng-click="vm.createContact()">Sisesta</button>
			</td>
			<td></td>
		</tr>
	</table>
</form>