<form>
	<table class="form-table">
		<tr>
			<td>Nimi:</td>
			<td><input id="name-input" ng-model="vm.newName" type="text"></td>
		</tr>
		<tr>
			<td>Number:</td>
			<td><input id="phone-input" ng-model="vm.newNumber" type="text"></td>
		</tr>
		<tr>
			<td>
				<button id="save-link" ng-click="vm.editContact()">Salvesta</button>
			</td>
			<td></td>
		</tr>
	</table>
</form>