<br />
<table class="list-table">
<thead>
	<tr>
		<th>Nimi</th>
		<th>Telefon</th>
	</tr>
</thead>
<tbody>
	<input type="text" ng-model="vm.search" ng-change="vm.filterList()" id="search-string" />
	<br />
	<tr ng-repeat="contact in vm.contactsFiltered" ng-class="{ selected: contact.remove }">
		<td>
			<a class="edit-link" href="#/edit/{{contact._id}}">{{ contact.name }}</a>
		</td>
		<td>{{ contact.phone }}</td>

		<td>
			<a class="delete-link" ng-click="vm.remove(contact._id)">Kustuta</a>
		</td>

		<td>
			<input type="checkbox" ng-model="contact.remove"/>
		</td>
	</tr>
<tbody>
</table>